body {
    background-color: rgb(31, 31, 31);
    color: white;
    font-family: 'Fira Code', monospace;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
    transition: all 0.3s ease;
}

.navbar-toggler {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 21px;
    background: transparent;
    border: none;
    padding: 0;
    z-index: 1;
    margin-left: 20px;
}

.navbar-toggler .bar {
    background-color: white;
    height: 3px;
    width: 30px;
    transition: transform 0.3s ease;
}

.navbar-toggler .bar1.active {
    transform: rotate(45deg) translate(5px, 5px);
}

.navbar-toggler .bar2.active {
    opacity: 0;
}

.navbar-toggler .bar3.active {
    transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.nav-item:hover {
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    /* Mobile View - Hamburger Menu Visible */
    .navbar-toggler {
        display: flex;
    }

    /* Hide navbar links initially on mobile */
    .navbar-links {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        padding-top: 20px;
    }

    /* Show navbar links when hamburger menu is active */
    .navbar-links.active {
        display: flex;
    }

    /* Make the Home link join the hamburger menu */
    .navbar-brand.active {
        order: 1;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .nav-item {
        margin: 10px 0;
    }
}

@media (min-width: 768px) {
    .navbar-toggler {
        display: none;
    }

    .navbar-links {
        display: flex;
        justify-content: flex-end;
    }
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#mainimg {
    height: 100px;
    width: 100px;
}

#up {
    margin-top: 50px;
}

a {
    color: orange;
}
